{% extends 'base.html' %}
{% block title %}
  Записи избранных авторов
{% endblock title %}
{% block content %}
  {% include 'includes/switcher.html' %}
  {% if follow_count %}
    <h1>Записи избранных авторов</h1>
    {% for post in page_obj %}
      {% include 'includes/article.html' with is_link_visible=True is_author_visible=True %}
      {% if not forloop.last %} <hr> {% endif %}
    {% endfor %}
  {% else %}
    <p>Подпишись на кого-нибудь, не стесняйся!</p>
  {% endif %}
  {% include 'includes/paginator.html' %}
{% endblock content %}